.container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	border: 1px black solid;
	height: 100%;
}

.header {
	border-bottom: 1px black solid;
}

.body {
	display: flex;
	flex-direction: column;
	gap: 5px;
	overflow: scroll;
}
