.mainContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.settingsContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border: 1px solid black;
	height: 30px;
}

.cardsContainer {
	display: flex;
	flex-wrap: wrap;
	column-gap: calc((100% - max(1500px, 90%)) / 2);
	row-gap: 20px;
}

.cardContainer {
	min-width: 500px;
	width: 30%;
}
