.card {
	all: unset;
	border: 1px black solid;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
	width: calc(100% - 12px);
}

.card-header {
	border-bottom: 1px black solid;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
}

.card-header-title {
	font-weight: 700;
	text-overflow: ellipsis;
	overflow-wrap: break-word;
	overflow: hidden;
	flex-grow: 2;
}

.card-header-metrics {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
	flex-grow: 1;
}

.card-header-metric {
	font-style: italic;
	text-overflow: ellipsis;
	overflow-wrap: break-word;
	overflow: hidden;
	flex-grow: 1;
}

.card-body {
	height: calc(50vh - 40px);
	overflow-y: scroll;
}
