.mainContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.settingsContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border: 1px solid black;
	height: 30px;
}

.cardsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.cardContainer {
	min-width: 500px;
	width: 30%;
	flex-grow: 1;
}

@media (max-width: 1024px) {
	.cardContainer {
		min-width: 300px;
	}
}

@media (max-width: 768px) {
	.cardContainer {
		min-width: 250px;
	}
}
