.layoutContainer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 20px;
}

.inputContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.visualizerContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.configContainer {
	display: flex;
	flex-direction: column;
	width: 25%;
}

.textContainer {
	width: 50%;
}

.textInput {
	height: 40vh;
	width: 100%;
}
